################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Network/bin/Debug
/NetworkTestClient/bin/Debug
/NetworkTestClient/bin/Debug
/Examples/NetworkTestClient/obj/Debug
/Examples/NetworkTestServer/obj/Debug
/Examples/TestServerClientPackets/obj/Debug
/Network/packages
/Examples/TestServerClientPackets/bin/Debug
/Examples/NetworkTestServer/bin/Debug
/Examples/NetworkTestClient/bin/Debug
/Network/NetworkSecureTestCertGenerator/bin/Debug
/Network/NetworkSecureTestCertGenerator/obj/Debug
/Network/obj/Debug
